---
layout: default
title: Home
jumbotron: main.md
---

<div class="container">
  <h2>Don't take our word - some quotes from people that we have worked with</h2>
  <div class="row">
    {% for quote in site.quotes %}
    <div class="col-md-4">
      <h3>{{ quote.name }} - {{ quote.position }}</h3>
      <div>{{ quote.markdown | markdownify }}</div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="container">
  <h2>Projects</h2>
  <div class="row">
    {% for project in site.projects %}
    <div class="col-md-6">
      <h3>{{ project.name }}</h3>
      <div>{{ project.markdown | replace: "\n", "\n\n" | markdownify }}</div>
    </div>
    {% endfor %}
  </div>
</div>

<h2>Latest Blog Posts</h2>

<ul>
  {% for post in site.posts %}
    <li>
      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
      <p>{{ post.excerpt }}</p>
    </li>
  {% endfor %}
</ul>
