<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.css">
  </head>
  <body class="d-flex flex-column h-100">

    {% include navigation.html %}

    <main role="main" class="flex-shrink-0">
      {% if page.jumbotron %}
      <div class="jumbotron">
        <div class="container">
          {% capture my_include %}{% include jumbotron/{{ page.jumbotron }} %}{% endcapture %}
          {{ my_include | markdownify }}
        </div>
      </div>
      {% else %}
      <div style="margin-top: 5em;"> </div>
      {% endif %}
      <div class="container">
        {{ content }}
      </div>
    </main>

    <footer class="footer mt-auto py-3 bg-dark">
      <div class="container">
        <h3 class="text-light text-center">© {{ site.data.company.name }} {{ site.data.company.year_start }} - {{ site.time | date: '%Y' }}</h3>
        <div class="row">
          <div class="col-md-6">
            <p class="text-light text-center">Company Number: {{ site.data.company.company_number }} - VAT Number: {{ site.data.company.vat_number }}</p>
          </div>
          <div class="col-md-6">
            <p class="text-light text-center">
              <a class="text-light" href="https://maps.apple.com/?q={{ site.data.company.address }}&amp;sll={{ site.data.company.coord}}&amp;z=10&amp;t=s">
                {{ site.data.company.address }}
              </a>
            </p>
          </div>
        </div>
        <p>
          <a href="https://linkedin.com/in/dannylewissheffield/" class="btn btn-block btn-social btn-twitter  btn-outline-success" aria-label="Connect on linked in">
            Connect on
            <span class="fa fa-linkedin"></span>
          </a>
        </p>
      </div>
    </footer>

  </body>
</html>
